@charset "UTF-8";

BODY{
	position:relative;
	margin: 0px;
	padding: 0px;
	min-width: 720px;
}

a {
	text-decoration: none;
	color: black;
}

/* SECTION {height:calc(100% - 130px);} */

BODY > #header {
	height: 100px;
    width: 100%;
    border-bottom: 1.5px ridge lightgray;
}

BODY > #header > HEADER{
	width: 100%;
    height: 100%;
    display: block;
}

BODY > #header > HEADER > #title{
    float: left;
    display: inline;
    margin-left: 11px;
    line-height: 4.7;
}

BODY > #header > HEADER > #title > a > h1{
    display: inline;
   	font-size: 21.9px;
    font-family: MV Boli;
    font-weight: bold;
}

BODY > #header > HEADER > #rightMenu{
	float: right;
    line-height: 10;
    height: 100px;
}

BODY > #header > HEADER > #rightMenu > ul{
	list-style: none;
    margin: 0px;
    padding: 0px;
}

BODY > #header > HEADER > #rightMenu > ul > li{
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
    float: left;
}

BODY > #header > HEADER > #rightMenu > ul > li > #search{width: 15px;}

#leftMenuBar{
	float: left;
    display: inline;
    cursor: pointer;
}

#leftMenuBar #menuBar{
    width: 50px;
    height: 50px;
    margin: 25px 0px 0px 30px;
}

.menuBarCotainer{
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 284px;
    height: 100%;
    border-right: 1px ridge lightgrey;
    background-color: white;
}

.menuBarCotainer.noDisPlay{
	display: none;
}

#mainContainer {
    margin-left: 19%;
    margin-right: 19%;
}

#mainContainer #subContainer{
	position: relative;
/*     width: 100%;
    height: 100%; */
}    

#subContainer > #container {
	position: absolute;
    margin-top: 30px;
    background-color: white;
    min-width: 760px;
}

#imageTableList {
	width: 100%; 
	height: 100%;
	border: 0px;
}

#imageTableList TBODY TD{
	padding: 10px;	
}

#imageTableList TBODY TD > DIV > IMG{
    width: 100%;
}


@media screen and (max-width: 768px) {
	BODY{
		position:relative;
		margin: 0px;
		padding: 0px;
		overflow-x : hidden;
		min-width: 500px;
	}
	
	#subContainer > #container {
	    min-width: 0px;
	}
	
	#subContainer > #container {
		position: absolute;
	    margin-top: 30px;
	    background-color: white;
	}
	
	#mainContainer {
	    margin-left: 0%;
	    margin-right: 0%;
	}
	
	#imageTableList TBODY TD{
		padding: 1px;	
	}
	
	#mainContainer #subContainer {
	    position: relative;
/* 	    width: 69.5%; */
/* 	    height: 100%; */
	}
	
	BODY > #header > HEADER > #rightMenu > ul > li:last-child {
		display: none;
		padding: 2px;
	}
	
	BODY > #header > HEADER > #rightMenu > ul > li:nth-child(2) {
		padding-right: 8px;
	}
}
